include requirements.txt requirements.txt.lock
include LICENSE
include README.md

recursive-include fpr *.py *.json *.jsonl *.sh *.txt INSTALLER METADATA RECORD WHEEL
recursive-include tests *.py *.json *.jsonl
