[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pyre-check = "==0.0.29"
pytest = "==5.0.1"
pytest-codestyle = "==1.4.0"
pytest-asyncio = "==0.10.0"
hashin = "==0.14.5"
coverage = "==4.5.4"
pytest-cov = "==2.7.1"

[packages]
aiodocker = "==0.14.0"
Rx = "==3.0.0b5"

[requires]
python_version = "3.7"
